
.logo {
    text-align: center;
    padding: 1.1rem 1rem;
    background-color: #ddd;
    margin-top: -7px;
}
.logo img {
    width: 180px;
    height: 53px;
    
}
.mat-divider {
    border-top-width: 1px;
    border-color: rgb(29, 28, 28);
}

.mt-2 {
    
    font-size: 1.6rem;
    font-weight: 100;
    letter-spacing: 1px;
    color: white;
    border-color: rgb(29, 28, 28);
}
.mat-icon {
    vertical-align: middle;
    margin-right: 1rem;
    color: white;
  }
  .mat-list-item{
    color: white;
  }
 .list-item-active {
    color: white ;
    background-color: grey;
    font-size: 1.3rem;
}
.mat-list-item hover{
    color: white;
    background-color: gray;
}
